@* @model WebApp.Models.User *@

@{
    ViewData["Title"] = "Admin Transaction Management";
}
<nav class="navbar">
    <ul class="nav-ul">
        <li class="nav-li">
            <a href="#" class="nav-a" onclick="loadView('admin')">Admin</a>
        </li>
        <li class="nav-li">
            <a href="#" class="nav-a" onclick="loadView('adminusers')">User Management</a>
        </li>
        <li class="nav-li">
            <a href="#" class="nav-a" onclick="loadView('admintransactions')">Transaction Management</a>
        </li>
    </ul>
</nav>

<h1 id="status">
    Welcome! - Admin Transaction Management
</h1>